.default-button {
    padding: 1rem 2rem;
    color: #f1f1f1;
    font-size: 1.6rem;
    background-color: #f32323;
    border-radius: .5rem;
}
.large-button {
    padding: 1rem 0;
    width: 100%;
    color: #f1f1f1;
    font-size: 1.6rem;
    background-color: #f32323;
    border-radius: .5rem;
}